.header{
    border-bottom: 1px solid #e2e2e2;
}
#gsretail, #gspay{
    width: 60px;
}
#top_header{
    height: 80x;
    border-bottom: 3px solid #00A0E9;
    padding: 0 470px;
}
#top1 {
    display: flex;
    align-items: center;
    justify-content: right;
}
#top1 li{
    font-size: 11px;
    padding-left: 5px;
}
#top1 button{
    background-color: #fff;
    color: #00A0E9;
    border: 1px solid rgb(197, 197, 197);
    padding: 3px;
}
#top2{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#top2 a{
    padding: 10px 10px;
}
nav{
    height: 40px;
}
#main_header{
    height: 80px;
    padding: 25px 460px;
}
#main_header li{
    font-size: 20px;
    color: #3f3f3f;
    
    margin-right: 60px;
}
#gs25{
width: 100px;
margin-left: 30px;

}